{% extends "base.html" %}
{% block title %} Create a New Post!!! {% endblock %}

{% block content %}
{% if user.is_authenticated %}
<section style="margin-top: 100px">
<h2>Add Post</h2><br>
<div class="form-group">
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-secondary">Post</button>
    </form>
</div>
<script>
    var name = "{{ user.id }}";
    document.getElementById("user").value = name
</script>
{% else %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Wrong Page!!!</strong> You're not allowed here! You should go back to Home Page.
</div>
<p class="lead">
    <a class="btn btn-secondary btn-lg" href="{% url 'home' %}" role="button">Back</a>
</p>
{% endif %}
</section>

{% endblock %}

